body {
  background-color: rgb(219, 33, 33);
}

.container {
  display: grid;
  grid-template-columns: 10px 50px 100px 50px 100px;
  grid-template-rows: 50px 50px 50px 10px;
}

.subitem {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.item {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: #fff;
  border: 2px solid black;
}

.axis {
  background-color: rgb(20, 20, 20);
}

.bar1 {
  background-color: rgb(60, 190, 42);
}

.bar2 {
  background-color: rgb(64, 53, 221);
}