#chart {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

#chart #data1 {
  background-color: blue;
}

#chart #data2 {
  background-color: crimson;
}

#chart #data3 {
  background-color: darkgoldenrod;
}